@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.layout {
    display: grid;
    grid-template-areas:
        "header"
        "searchbar"
        "main"
        "footer";
    grid-template-columns: 100%;

}

header {
    position: initial;
    grid-area: header;
    background: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    text-transform: uppercase;
}

header .btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;

}


header ul {
    list-style: none;
    background: #2c3e50;
    position: fixed;
    right: 0;
    top: 96px;
    bottom: 0;
    width: 50%;
    transition: transform 0.5 ease;
    transform: translateX(100%);
}

header:hover ul {
    transform: translateX(0);


}

header ul li {
    margin: 10px;
    margin-bottom: 1rem;
}

header ul li a {
    text-decoration: none;
    color: white;

}



nav {
    grid-area: searchbar;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 30px;


}

main {
    grid-area: main;
    padding: 2rem
}


.galeria {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    background: #f5f5f5;
    box-shadow: 0 2px 5px 0;
}

.galeria .card {
    text-align: center;
    border: 1px solid black;
    box-shadow: 0 1px 0px 0;
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: all 0.5s ease;

}

.card:hover img {
    transform: scale(1.25)
}


.galeria .cardtext {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 2px 5px 0;
    color: black;
}

.galeria .cardtext button {
    background: none;
    color: black;
    font-size: medium;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0 1px 5px 0;
}

.galeria .cardtext button:hover {
    color: #2c3e50;

}


footer {


    grid-area: footer;
    text-align: center;
    border: 1px solid black;
    background-color: #2c3e50;
    color: white
}

footer .iconos {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .btn {
        display: none;
    }

    header ul {
        position: initial;
        display: flex;
        list-style-type: none;
        transition: transform 1s ease;
        overflow: hidden;
    }

    header ul li a {
        color: white;
        text-decoration: none;
        margin: 10px;
        list-style-type: none;
    }

    .galeria {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (min-width: 992px) {
    .layout {
        grid-template-areas:
            "header searchbar"
            "header main"
            "header footer";
        grid-template-columns: 15% 1fr;

    }



    nav {
        display: flex;
        justify-content: center;
        padding: 100px;

    }




    header {
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        position: fixed;
        height: 100vh;
        width: 13rem;
        cursor: pointer;

    }

    header ul {
        position: initial;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 3rem;
        transform: translatey(120%);
    }



    header ul li {
        margin-bottom: 1rem;
    }

    header ul li a {
        font-size: 1.25rem;
        color: white;
    }

    .galeria {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .galeria .cardtext {
        display: flex;
        justify-content: space-around;
    }




}